<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team5.seeshop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SeeShop">
        <activity android:name=".customer.CustomerOrderDetailsActivity"></activity>
        <activity android:name=".admin.AdminAllProductsActivity" />
        <activity android:name=".customer.MyOrdersActivity" />
        <activity android:name=".customer.OrderPlacedActivity" />
        <activity android:name=".customer.CheckoutActivity" />
        <activity android:name=".customer.CartActivity" />
        <activity android:name=".customer.ProductDetailsActivity" />
        <activity android:name=".customer.CustomerDashboardActivity" />
        <activity android:name=".seller.ManageProductsActivity" />
        <activity android:name=".seller.AddProductsActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".admin.UsersListActivity" />
        <activity android:name=".admin.AdminLoginActivity" />
        <activity android:name=".admin.AdminDashboardActivity" />
        <activity android:name=".admin.AdminProfileActivity" />
    </application>

</manifest>